<!DOCTYPE html> 
<html> 
  <head> 
    <meta http-equiv="content-type" content="text/html;charset=utf-8"> 
    <title>Maps!</title> 
    <script type="text/javascript" src="http://polymaps.org/polymaps.min.js"></script>
    <style type="text/css">@import url("http://polymaps.org/colorbrewer.css");</style>
  </head> 
  <body>
      <div id="map"></div> 
      
      <script type="text/javascript">
        var po = org.polymaps;

        var map = po.map()
            .container(document.getElementById("map").appendChild(po.svg("svg")))
            .add(po.interact())
            .zoom(13);

        map.add(po.image()
            .url(po.url("http://{S}tile.cloudmade.com"
            + "/1a1b06b230af4efdbb989ea99e9841af"
            + "/998/256/{Z}/{X}/{Y}.png")
            .hosts(["a.", "b.", "c.", ""])));
        
        map.add(po.geoJson()
            .url("http://localhost:8000/crimes?bbox={B}")
            .on("load", load)
            .zoom(14));
        
        map.container().setAttribute("class", "Blues");

        function load(e) {
            for (var i = 0; i < e.features.length; i++) {
                e.features[i].element.setAttribute("r", 5);
            }
        }
      </script>
  </body> 
</html> 